.answer-count {
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: 15px;
}

.answer-list {
    display: flex;
    flex-direction: column;
}

.answer-list-item {
    margin: 5px 0;
    border-bottom: 1px solid #e4e6e8;
    padding-bottom: 10px;
}

.answer-list-item {
    word-wrap: break-word;
    line-height: 30px;
}