body {
    background-color: #eff0f1;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafb;
    border-top: 2px solid #f48024;
    height: 60px;
}

.header-nav {
    display: flex;
    align-content: center;
}

.sign-page {
    display: flex;
    align-items: center;
    margin-right: 5px;
}

.img-logo {
    width: 40px;
    height: 25px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-nav:hover {
    background-color: #e4e6e8;
    cursor: pointer;
}