.single-question {
    margin-top: 10px;
    border-top: 0.5px solid #eff0f1;
    border-bottom: 0.5px solid #eff0f1;
    padding: 10px;
    list-style: none;
}

.single-question>.question-body {
    color: #1a77cc;
}

.single-question>.question-body:hover {
    color: #2395ff;
}

.all-show-tags {
    display: flex;
    justify-content: space-between;
}

.show-tags {
    display: flex;
    align-items: center;
    position: relative;
    left: -3%;
}

.posted-by {
    // margin-left: 90%;
    color: #6f7881;
    font-size: 12px;
}