.main-questions-list {
    border-top: 1px solid #d6d9dc;
}

.single-question {
    display: flex;
    border-bottom: 0.5px solid #eff0f1;
    padding: 10px;
    list-style: none;
}

.votes-ans-count {
    display: flex;
    margin-right: 20px;
    color: #868e96;
}

.votes-ans-count label {
    margin: 0px 10px;
    text-align: center;
    font-size: 11px;
}

.votes-count,
.ans-count {
    font-size: 20px;
}

.single-question .question-body {
    color: #1a77cc;
    font-size: 16px;
}

.single-question .question-body:hover {
    color: #2395ff;
}

.body-tags {
    width: 100%;
}

.all-show-tags {
    display: flex;
    justify-content: space-between;
}

.show-tags {
    display: flex;
    align-items: center;
    position: relative;
    // left: -3%;
}

.posted-by {
    // margin-left: 90%;
    color: #6f7881;
    font-size: 12px;
}