.splash {
    display: flex;
    justify-content: center;
}

.splash {
    background: image-url('splash-page.jpg') no-repeat center center fixed;
    background-size: cover;
}

.splash>img {
    min-height: 900px;
}

.splash-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 250px;
    width: 320px;
    color: white;
}

.splash-h-p {
    text-align: center;
    border: 1px solid black;
    font-size: 20px;
    background-color: lightyellow;
    border-radius: 7px;
    color: #f48024;
}

.splash-paragraph {
    font-size: 15px;
}

.btns {
    display: flex;
}

.btn-1,
.btn-2 {
    margin: 5px;
    padding: 10px;
    border-radius: 3px;
    font-size: large;
}

.btn-1 {
    background-color: #ffffff;
    color: #f48024;
    border: 1px solid #f48024;
}

.btn-2 {
    background-color: #f48024;
    color: #ffffff;
    border: 1px solid #ffffff;
}