.all-tags-index {
    display: flex;
    justify-content: space-between;
    // width: 100%;
    background-color: #ffffff;
}

.tags-header {
    margin: 10px;
}

.tag-head {
    font-size: 24px;
}

.tag-p {
    width: 680px;
    line-height: 25px;
}

.tags-header>p {
    margin: 10px 0;
}

.all-tags-index .tags-list-index {
    display: flex;
    flex-wrap: wrap;
}

.all-tags-index .tags-list-index li {
    font-size: 18px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border: 1px solid transparent;
    background-color: #e2ecf4;
    border-radius: 6px;
    color: #39739e;
}

.all-tags-index .tags-list-index li p {
    padding-top: 10px;
    font-size: 13px;
}

.all-tags-index .tags-list-index li:hover {
    background-color: #d1e5f2;
    color: #2c5777;
}

.div-sidebar {
    width: 6.78%;
}

.tags-list-index {
    width: 93.22%
}